<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">
            function AutoRefresh(n) {
            	setTimeout("window.location.replace('#'); location.reload(true);", 1000 * n)
            }
        </script>
    </head>
    <body onload = "AutoRefresh(60);">
        <div style="margin:10%">
        <form action="#click" method="post">
            <input type="submit" name="click" value="click" />
        </form>
        <p>
        {{stats}}
        </p>
        </div>
    </body>
<html>
